<div class="container my-lg-5 text-center">
  <div class="alert alert-warning alert-dismissible fade show" *ngIf="error">
    <strong>Warning!</strong> please enter valid credentials
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <form #f=ngForm>
    <div class="form-group offset-3 col-6">
      <label>Email:</label>
      <input type="email" name="email" class="form-control input-group-sm" [(ngModel)]="user.email" #e="ngModel" required  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
    </div>
    <div class="alert alert-danger offset-3 col-6" *ngIf="e.touched && e.invalid">
      <div *ngIf="e.errors.required">title is required</div>
      <div *ngIf="e.errors.pattern"> Email format : example@example.foo</div>
    </div>
    <div class="form-group offset-3 col-6">
      <label>Password:</label>
      <input type="password" name="password" class="form-control input-group-sm" [(ngModel)]="user.password" #p="ngModel" required>
    </div>
    <div class="alert alert-danger offset-3 col-6" *ngIf="p.touched && p.invalid">
      <div *ngIf="p.errors.required">password is required</div>
    </div>
    <div class="offset-3 col-6 my-5">
      <button class="btn btn-success" [disabled]="f.invalid" (click)="signIn()" >SignIn</button> &nbsp;
      <button type="button" class="btn btn-warning" (click)="close()">Go Back</button>

    </div>
  </form>

</div>
