<div class="col-md-4">
  <div
    class="card"
    style="width: 18rem"
  >
    <img [src]="dish.image" class="card-img-top" alt="..." />
    <div class="card-body overflow-auto">
      <h5 class="card-title">{{ dish.nom }}</h5>
      <p class="card-text text-height">{{dish.description}}</p>
      <!-- <a routerLink="detail/{{product.id}}">detail</a> -->
      <button class="btn btn-danger" style="float: left" (click)="deleteDish(dish.id)">
        delete
      </button>
      <button type="button" style="float: right" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit
      </button>
    </div>
  </div>
</div>

<!--  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="commitChanges()">Send message</button>
      </div>
    </div>
  </div>
</div>
