<nav class="navbar  navbar-expand-lg navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="#"><img src="assets/photos/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" a
          ria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Dishes"><i class="fa fa-cutlery"></i>Dishes</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
